version: '3'

services:
  db:
    image: postgres:9.5-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: aerogear_mobile_metrics
  api:
    build:
      context: .
      args:
        BINARY: ./dist/linux_amd64/metrics
    environment:
      PGHOST: db
      PGUSER: postgres
      PGPASSWORD: postgres
      PGDATABASE: aerogear_mobile_metrics
    ports:
      - "3000:3000"
    depends_on:
      - db
